.card {
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    height: 250px;
    margin: 10px;
    width: 250px;
}

.card:hover {
    transform: scale(1.05);
}

.card > img {
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

.container {
    width: calc(275px * 3);
}


